{% extends "base.html.twig" %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}

    <header>
        <h1>Pawcalypse Now !</h1>
    </header>

    <div class="container">
        <div class="hologram-container">
            <div id="earth"></div>
            <div class="invasion-percentage">
                {{invasion}}% Invasion Réussie
            </div>
        </div>



        <!-- Gestion des stocks -->
        <h2>Gestion des Stocks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Ressource</th>
                        <th>Quantité</th>
                        <th>Nouvelle Quantité</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for ressource in ressources %}
                    
                        <tr>
                            <form method="post">
                                <td>{{ressource.ressource_name}}</td>
                                <td>{{ressource.quantity}}</td>
                                <td>
                                    <input type="number" name="update_ressource[new_quantity]" min="10" required>
                                </td>
                                <td>
                                    <button type="submit" name="update_ressource[id]" value="{{ressource.id}}">Mettre à jour</button>
                                </td>
                            </form>
                        </tr>
                {% endfor %}
                </tbody>
            </table>

        <!-- Gestion des missions -->
        <h2>Gestion des Missions</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom de la Mission</th>
                    <th>Statut</th>
                    <th>Nouveau Statut</th>
                </tr>
            </thead>
            <tbody>

            {% for mission in missions %}
                
                    <tr>
                        <td>{{ mission.mission_name }}</td>
                        <td>{{ mission.status }}</td>
                        <td>
                            <form method="post">
                                <select name="update_mission[new_status]">
                                    <option value="planifiée" {{ mission.status == 'planifiée' ? 'selected' : ''}}>Planifiée</option>
                                    <option value="en cours" {{ mission.status == 'en cours' ? 'selected' : ''}}>En cours</option>
                                    <option value="terminée" {{ mission.status == 'terminée' ? 'selected' : ''}}>Terminée</option>
                                </select>
                                <input type="hidden" name="update_mission[mission_id]" value="{{mission.id}}">
                                <button type="submit">Mettre à jour</button>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>


        <!-- Ajouter une nouvelle mission -->
        <h2>Lancer une Nouvelle Mission</h2>
        <form method="post">
            <label for="mission_name">Nom de la Mission :</label>
            <input type="text" id="mission_name" name="add_mission[mission_name]" required>
            
            <label for="ressource_id">Allouer une Ressource :</label>
            <select id="ressource_id" name="add_mission[ressource_id]" required>
                {% for ressource in ressources %}
                    <option value="{{ressource.id}}">{{ressource.ressource_name}}</option>
                {% endfor %}
            </select>
            
            <label for="ressource_quantity">Quantité :</label>
            <input type="number" id="ressource_quantity" name="add_mission[ressource_quantity]" min="1" required>
            
            <button type="submit">Créer Mission</button>
        </form>

        <div class="logout">
            <a href="logout">Déconnexion</a>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{parent()}}
    <script>
        console.log('hello');
        
    </script>
{% endblock %}
